h1{
    color: darkorange;
}
p{
    font-style: italic;
}
/* *{
    border: solid; 
}*/
.header{
    border: solid;
    background-color: darkturquoise;
    display: flex;
    justify-content: center;  
}
.grade{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
body{
    background-color: deeppink;
}

